

<div class="row">
    <div class="col-md-4">
        <div class=" panel">
            <div class="panel-body">
                 <h4>Vinos</h4>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" panel">
            <div class="panel-body">
                 <h4>Quesos</h4>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" panel">
            <div class="panel-body">
                 <h4>Bitext</h4>

            </div>
        </div>
    </div>
</div>
